* {
    box-sizing: border-box;
    margin: 0;
    flex-wrap: wrap;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #000000;
}

.header-titre {
    flex: 1;
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    margin-left: 50px;
    color: rgb(255, 255, 255);
}

.liens-navigation {
    display: flex;
    gap: 40px;
    margin-right: 50px;
    text-align: right;
}

.liens-navigation a {
    color: rgb(255, 255, 255);
}

.liens-navigation a:hover {
    color: #babd05c4;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.container-intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/banner.jpg');
    font-size: large;
    width: 100%;
    height: 300px;
}

h2 {
    align-items: left;
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.separator {
    width: 95%;
    height: 2px;
    border: #121fcc 3px solid;
    margin-bottom: 10px;
}

.titre-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap : 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner-services {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container-formulaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #a5a5a5 1px solid;
    border-radius: 5px;
    margin: 50px;
}

.formulaire-contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    width: 700px;
    height: 730px
}

input, textarea {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 30px;
    border: #a5a5a5 1px solid;
    border-radius: 5px;
    margin: 10px;
}

textarea {
    height: 400px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #121fcc;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
}

.coordonnees1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    width: 700px;
    height: 730px
}

.coordonnees p {
    font-size: 1em;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    width: 100%;
    text-align: justify;
}

.coordonnees h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    width: 100%;
    text-align: justify;
}

.adresse, .email, .telephone, .position {
    display: flex;
    gap: 5px;
}


.adresse p, .email p, .telephone p, .position p {
    font-size: 1em;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    width: 100%;
    text-align: justify;
}

iframe {
    margin-top: 15px;
}

.icone {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #333333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

footer section {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

footer h3 {
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 5px;
}

footer p {
    font-size: 1em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    width: 100%;
    text-align: justify;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reseaux-sociaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.reseaux-sociaux a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.liens-utiles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    gap: 10px;
}

.liens-utiles a {
    color: #fff;
    text-decoration: none;
}

.liens-utiles a:hover {
    color: #e2c924;
}

.mes-realisations {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: auto;
}

.mes-realisations a {
    color: #fff;
    text-decoration: none;
}

.mes-realisations a:hover {
    color: #e2c924;
}