* {
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #000000;
}

.header-titre {
    flex: 1;
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    margin-left: 50px;
    color: rgb(255, 255, 255);
}

.liens-navigation {
    display: flex;
    gap: 40px;
    margin-right: 50px;
    text-align: right;
}

.liens-navigation a {
    color: rgb(255, 255, 255);
}

.liens-navigation a:hover {
    color: #babd05c4;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    height: auto;
}

.container-intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/banner.jpg');
    font-size: large;
    width: 100%;
    height: 300px;
}

.separator {
    width: 20%;
    border: 3px solid #121fcc;
}

.portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 20px;
    gap: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.container-intro img {
    width: 100%;
    height: auto;
}

.titre-portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}

.range-1, .range-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.portfolio img {
    width: 400px;
    height: 60%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fresh-food, .restaurant-japonais, .espace-bien-etre, .seo, .api, .maquette {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    background-color: #ffffff;
    border: #868686 1px solid;
    border-radius: 5px;
    width: 400px;
    height: 500px;
}

.info-projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.fresh-food a, .restaurant-japonais a, .espace-bien-etre a, .seo a, .api a, .maquette a {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
}

.fresh-food p, .restaurant-japonais p, .espace-bien-etre p, .seo p, .api p, .maquette p {
    font-size: 1em;
    text-align: center;
}

button {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    background-color: #0e21c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0dbec4;
    color: #0e21c9;
}

.technologies-utilisees {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    font-size: 0.9em;
    background-color: #f1f1f1;
    border: #868686 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.technologies-utilisees p {
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #333333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

footer section {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

footer h3 {
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 5px;
}

footer p {
    font-size: 1em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    width: 100%;
    text-align: justify;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reseaux-sociaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.reseaux-sociaux a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.liens-utiles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    gap: 10px;
}

.liens-utiles a {
    color: #fff;
    text-decoration: none;
}

.liens-utiles a:hover {
    color: #e2c924;
}

.mes-realisations {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: auto;
}

.mes-realisations a {
    color: #fff;
    text-decoration: none;
}

.mes-realisations a:hover {
    color: #e2c924;
}