* {
    margin: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #000000;
}

.header-titre {
    flex: 1;
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    margin-left: 50px;
    color: rgb(255, 255, 255);
}

.liens-navigation {
    display: flex;
    gap: 40px;
    margin-right: 50px;
    text-align: right;
}

.liens-navigation a {
    color: rgb(255, 255, 255);
}

.liens-navigation a:hover {
    background-color: darkcyan;
    color: #ffffff;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/hero-bg.jpg');
    font-size: large;
    height: 800px;
}

.container-intro h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container-intro h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}
.container-intro button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ee1616;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.container-info-competences {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.a-propos, .competences {
    flex: 1;
    text-align: center;
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.a-propos h3, .competences h3 {
    text-align: left;
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #2416eb;
}

.a-propos {
    text-align: justify;
    line-height: 1.6;
    color: #333;
    background-size: cover;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.a-propos p, .competences p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: justify;
    height: auto;
}

.a-propos hr, .competences hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.barre {
    margin-top: 50px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

span {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.ligne-progression {
    height: 30px;
    border: #000000 1px solid;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.ligne-progression::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.ligne-progression.html::before {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: #ee1616;
}

.ligne-progression.css::before {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: #70c0ee;
}

.ligne-progression.js::before {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background-color: #e2c924;
}

.ligne-progression.react::before {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    background-color: #0e21c9;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #333333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

footer section {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

footer h3 {
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 5px;
}

footer p {
    font-size: 1em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    width: 100%;
    text-align: justify;
}

.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reseaux-sociaux {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.reseaux-sociaux a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.liens-utiles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    gap: 10px;
}

.liens-utiles a {
    color: #fff;
    text-decoration: none;
}

.liens-utiles a:hover {
    color: #e2c924;
}

.mes-realisations {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: auto;
}

.mes-realisations a {
    color: #fff;
    text-decoration: none;
}

.mes-realisations a:hover {
    color: #e2c924;
}